@model List<Teachers>;

<h1>Teachers</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Table</h4>
        <p class="card-description">
            Add class <code>.table</code>
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th></th>
                        <th>Degree</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model)
                    {
                        <tr>
                            <td><img width="130" height="130" style="border-radius:50%" src="~/@teacher.ImageUrl"></td>
                            <td>@teacher.Name</td>
                            <td>@teacher.Degree</td>
                            <td><a asp asp-action="details" asp-route-id="@teacher.Id" class="btn btn-warning">Details</a></td>

                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@teacher.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>

                            <td><a asp-action="update" asp-route-id="@teacher.Id" class="btn btn-outline-warning">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



