@model List<Blogs>;

<h1>Blogs</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-BlogTop">Basic Table</h4>
        <p class="card-description">
            Add class <code>.table</code>
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>BlogTop</th>
                        <th>Description</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Blog in Model)
                    {
                        <tr>
                            <td><img width="130" height="130" style="border-radius:50%" src="~/@Blog.ImageUrl"></td>
                            <td>@Blog.BlogTop</td>
                            <td>@Blog.Description</td>
                            <td><a asp asp-action="details" asp-route-id="@Blog.Id" class="btn btn-warning">Details</a></td>

                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@Blog.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>

                            <td><a asp-action="update" asp-route-id="@Blog.Id" class="btn btn-outline-warning">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


