@model Footer;

<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo/footer-logo.png" alt="eduhome"></a>
                        </div>
                        <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and give you a coete account of the system. </p>
                        <div class="footer-social">
                            <ul>
                                @foreach (var icon in Model.SocialMediaIcons)
                                {
                                    <li><a href="#"><i class="@icon.Icon"></i></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>information</h3>
                        <ul>
                            @foreach (var information in Model.Informations)
                            {
                                <li><a href="#">@information.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>useful links</h3>
                        <ul>
                            @foreach (var link in Model.UsefulLinks)
                            {
                                <li><a>@link.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        @foreach (var item in Model.GetInTouch)
                        {
                            <p>@Html.Raw(item.Title)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>@Html.Raw(Model.Creator)</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->